body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

nav a {
    color: white;
}

h1 {
    color: red;
}

table {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
  }
  
.regdiv {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 10px; /* Adjust the gap between columns as needed */
    text-align: center; /* Center align content within each grid cell */
  }

  .regdiv > div {
    display: grid;
    grid-template-columns: auto; /* Create a single column layout for the nested grid */
    grid-template-rows: auto auto auto; /* Create rows for h3, img, and div */
    gap: 5px; /* Adjust the gap between nested grid items as needed */
  }

  .regdiv img {
    width: auto; /* Set the width as needed */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center align the image horizontally */
  }
  
  
  .regdiv h3 {
    margin: 0; /* Remove default margin to avoid spacing issues */
  }
  
  .regdiv div {
    text-align: center;
  }
  

  footer {
    padding: 20px;
    font-size: 1em;
    background-color: lightgreen;
  }